/* table */
.table-wrap {
  /* max-height: 467px; */
  height: 467px;
  width: 100%;
  overflow: auto;
  margin-bottom: 40px;
  background-color: #ffffff;
}

.table-wrap::-webkit-scrollbar {
  display: none;
}

.clients__table {
  table-layout: fixed;
  text-align: left;
  margin: 0 auto;
  width: max(728px, 100%);
  /* min-height: 96px; */
  /* height: 341px; */
  border-collapse: collapse;
}

.clients__thead {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #F5F5F5;
}


.clients__th {
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
}

.clients__th:nth-child(1) {
  width: min(126px, 150px);
}

.clients__th:nth-child(2) {
  width: 23%;
}

.th-btn {
  color: inherit;
}

.clients__tbody {
  background-color: #ffffff;
}

.client-row {
  border-bottom: 1px solid #c8c5d1;
  min-height: 60px;
}

.client-row:first-child {
  border-top: 1px solid transparent;
}

.client-row:hover:not(.client-found) {
  background-color: rgba(184, 158, 255, 0.5);
  ;
}
.client-found {
  background-color: rgba(255, 165, 0, 0.5);

}

/* .client-row:last-child {
  border-bottom: 1px solid transparent;
} */

.client-cell {
  padding: 10px 10px;
  font-size: 14px;
  line-height: 19px;
}

.client-row__id {}

.client-row__link {
  cursor: pointer;
}

.client-row__date {}

.client-row__time {}

.client-row__contact {}

.client-row__contact svg {
  color: #9873FF;
}

.client-row__actions {}

.client-row__edit-btn {}

.client-row__edit-btn svg {
  color: #9873FF;
}

.client-row__delete-btn {}

.client-row__delete-btn svg {
  color: #F06A4D;
}
