/* table */
.table-wrap {
  /* max-height: 467px; */
  height: 467px;
  width: 100%;
  overflow: auto;
  margin-bottom: 40px;
  background-color: #ffffff;
}

.table-wrap::-webkit-scrollbar {
  display: none;
}

.clients__table {
  table-layout: fixed;
  text-align: left;
  margin: 0 auto;
  width: max(728px, 100%);
  border-collapse: collapse;
}

.clients__thead {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #F5F5F5;
}


.clients__th {
  height: 35px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #B0B0B0;
  text-align: left;
}

.clients__th:nth-child(1) {
  width: 80px;
}

.clients__th:nth-child(2) {
  width: 210px;
}

.clients__th:nth-child(3),
.clients__th:nth-child(4) {
  width: 140px;
}

.clients__th:nth-child(5) {
  width: 138px;
}

.clients__th:nth-child(6) {
  width: 205px;
}

.th-btn {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  color: inherit;
  text-align: left;
  transition: all 0.3s ease;
}

.th-btn::after {
  display: inline-block;
  content: url('../img/arrow-simple.svg');
  transition: transform 0.4s ease;
}


.sorted.th-btn::after {
  transform: rotate(-180deg);
}


.th-btn:focus {
  outline: none;
}

.th-btn:focus-visible,
.th-btn:hover:not(:focus-visible) {
  background-color: rgba(200, 197, 209, 0.7);
  color: #fff;
  box-shadow: inset 0px 1px 6px 0px rgb(130, 128, 128);
}

.fio-btn::before {
  content: 'А-Я';
  position: absolute;
  top: 50%;
  /* left: 73%; */
  right: 19%;
  transform: translateY(-50%);
  color: #9873FF;
}
.clients__tbody {
  background-color: #ffffff;
}

.client-row {
  border-bottom: 1px solid #c8c5d1;
  min-height: 60px;
}

.client-row:focus-within {
  background-color: rgba(200, 197, 209, 0.7);
}

.client-row:first-child {
  border-top: 1px solid transparent;
}

.client-row:hover:not(.client-found) {
  background-color: rgba(200, 197, 209, 0.7);
  ;
}

.client-found {
  background-color: rgba(255, 165, 0, 0.5);

}

.client-cell {
  padding: 11px 15px;
}

.client-row__id {
  font-size: 12px;
  line-height: 16px;
}

.client-row__link {
  cursor: pointer;
}


.client-row__link:focus {
  outline: none;
}

.client-row__link:focus-visible {
  outline: none;
  font-weight: 700;
  color: rgb(152, 64, 255);
}

.client-row__link:hover {
  font-weight: 700;
  color: rgb(152, 64, 255);
}

.client-row__date {
  margin-right: 10px;
}

/* .client-row__time {} */

.table-contacts-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

/* .client-row__contact {
} */

.client-row__contact svg {
  display: block;
  color: #9873FF;
}

.client-row__contact:focus {
  outline: none;
}

.client-row__contact:focus-visible svg {
  color: rgb(152, 64, 255);
}

.client-row__contact:hover svg {
  color: rgb(152, 64, 255);
}

.client-row__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.client-row__edit-btn,
.client-row__delete-btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.client-row__edit-btn {
  margin-right: 15px;
}

.client-row__edit-btn svg {
  color: #9873FF;
  flex-shrink: 0;
  display: block;
}

.client-row__delete-btn {}

.client-row__delete-btn svg {
  color: #F06A4D;
  flex-shrink: 0;
  display: block;
}

.client-row__edit-btn:focus,
.client-row__delete-btn:focus {
  outline: none;
}

.client-row__edit-btn:focus-visible,
.client-row__delete-btn:focus-visible {
  font-weight: 700;
  color: rgb(152, 64, 255);
}

.client-row__edit-btn:hover,
.client-row__delete-btn:hover {
  font-weight: 700;
  color: rgb(152, 64, 255);
}

@media (max-width: 1023px) {
  .fio-btn::before {
  right: 13%;
  }
}
@media (max-width: 920px) {
  .clients__th:nth-child(6) {
    width: 100px;
  }
}

